{% extends "base.html" %}
{% block title %} Ajouter un RDV {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>Planifier un nouveau Rendez-vous</p>
			<form action="" method="POST" novalidate>
				{{ form.hidden_tag() }}
				<div class="form-group">
					<p>
						{{ form.id_client_wtf.label }}<br>
						{{ form.id_client_wtf(class="form-control") }}
						{% for error in form.id_client_wtf.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
					</p>
					<p>
						{{ form.date_rdv_wtf.label }}<br>
						{{ form.date_rdv_wtf(class="form-control") }}
						{% for error in form.date_rdv_wtf.errors %}<span style="color: red;">[{{ error }}]</span>{% endfor %}
					</p>
				</div>
				{{ form.submit(class="btn btn-primary") }}
			</form>
		</div>
	</div>
</div>
{% endblock %}