{% extends "base.html" %}
{% block body %}
<div class="container">
    <h3 class="mt-4">Prestations par Rendez-vous</h3>
    <table class="table table-bordered table-sm mt-3">
        <thead class="thead-dark">
            <tr>
                <th>Client</th>
                <th>Date RDV</th>
                <th>Prestation</th>
                <th>Quantité</th>
                <th>Prix (CHF)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row.prenom }} {{ row.nom }}</td>
                <td>{{ row.date_rdv }}</td>
                <td>{{ row.libelle }}</td>
                <td>{{ row.quantite }}</td>
                <td>{{ row.prix_prestation }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="{{ url_for('rdv_prestation_ajouter_wtf') }}">Ajouter</a>
                    </td>
            </tr>
        {% else %}
            <tr><td colspan="6">Aucune prestation liée.</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}